<div class="col-md-8">
<h3>Message Details</h3>

<p><strong>To: </strong><%= @message.to %></p>
<p><strong>From: </strong><%= @message.from %></p>
<p><strong>Status: </strong><%= @message.status %></p>
<p><strong>Body: </strong><%= @message.body %></p>

</div>
